<li class="wide">
<label for="billing:deliverydate"><?php echo $this->__('Delivery Date') ?></label>
<div class="input-box">
<input type="text" id="billing:deliverydate" name="billing[deliverydate]" value="<?php echo $this->htmlEscape($this->getAddress()->getDeliverDate()) ?>" title="<?php echo $this->__('Delivery Date') ?>" class="input-text" />
</div>
</li>
