<ul class="accr-ul">
	<?php 
		$category = Mage::getModel('catalog/category')->load(2);  //catagorie id
		$subcategories = $category->getChildrenCategories();
			if (count($subcategories) > 0){
				// echo $category->getName(); //catagorie name
				foreach($subcategories as $subcategory){
	?>
					<li>
						<a href="<?php echo $subcategory->getUrl() ?>">
							<span><?php  echo $subcategory->getName(); ?></span>
						</a>
					</li>
				<?php
				}
			}
				?>
</ul>
