<html>
	<body>
<!--
	<form action="http://127.0.0.1/blaze/magentofolder/mag/magento/demo/index/index" method="post"> http://127.0.0.1/magentowithslider/magento/form/index/index
-->
	<form action="" method="post">
					<input type="hidden" name="id" id="id" value="<?php echo Mage::registry('id');?>"><br>
		Name	:	<input type="text" name="name" id="name" value="<?php echo Mage::registry('name');?>"><br>
		Email	:	<input type="text" name="email" id="email" value="<?php echo Mage::registry('email');?>"><br>
		Mobile	:	<input type="text" name="mobile" id="mobile" value="<?php echo Mage::registry('mobile');?>"><br>
					<input type="submit" name="save" value="Submit">
	</form>
	</body>
</html>



