<div class="form-group"> 
	<div class="query-form">
		<center><h2>Query Contact</h2></center>
		<form class="form-horizontal" action="<?php echo Mage::helper("adminhtml")->getUrl("mymodule/index/index");?>" method="POST">
			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Title</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="title" name="title">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="content">Content</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="content" name="content"> 
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="status">Status</label>
				<div class="col-sm-6">
					<select class="form-control" name="status" id="status">
						<option value="1">Active</option>
						<option value="0">Inactive</option>
					</select>
				</div>
			</div>
			<div class="form-group"> 
				<div class="col-sm-offset-5 col-sm-7">
					<input type="submit" name="save" id="save" class="btn btn-default" value="Submit">
				</div>
			</div>
		</form>
	</div>
</div>





