<?php
	$model=Mage::getModel("mymodule/mymodule")->load();
	$fetch=$this->getContent();
	//~ echo "<pre>";
	//~ print_r($fetch);die;
?>

	<head>
		<style>
		 table,tr,td,th{border:1px solid;padding:5px;}
		</style>
	</head>
	<body>
			<table>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Content</th>
				</tr>
				<?php 
					foreach($fetch as $data){
						
				?>
				<tr>
					<td><?php echo $data['id'];?></td>
					<td><?php echo $data['title'];?></td>
					<td><?php echo $data['content'];?></td>
				</tr>
			<?php
			}
			?>
			</table>
	</body>

