<?php
	$fetch=$this->getContent(); 
?>
<div class="container">
	<center><h2>Contact List</h2></center>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Content</th>
						<th>Status</th>
					</tr>
				</thead>
				<?php 
					foreach($fetch as $data){
				?>
					<tbody>
						<tr>
							<td><?php echo $data['mymodule_id'];?></td>
							<td><?php echo $data['title'];?></td>
							<td><?php echo $data['content'];?></td>
							<td><?php if($data['status']==1){echo "Active";}else{ echo "Inactive";}?></td>
						</tr>
					</tbody>
				<?php	
					}
				?>
			</table>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
<?php $collection = $this->getCollection(); ?>
<?php if($collection->getSize()): ?>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('The collection is empty'); ?></p>
<?php endif; ?>
</div>
