<?php
	$collection = Mage::getResourceModel('catalog/product_collection');
	$collection->addCategoryFilter(Mage::getModel('catalog/category')->load())->addAttributeToSelect('image');             
?>

<br><br>
	<div class="container">
		<div class="autoplay">
			<?php foreach ($collection as $_product){ ?>
				<div><img class="carouselimg" src="<?php echo $_product->getImageUrl();?>"></div>
			<?php } ?>
		</div>
	</div>
<br><br>
