
<div class="container">
	<div class="row">
		<div class="cards text-center">
				<img class="cardsimg" src="<?php echo Mage::getBaseUrl("media")?>footer/cards.jpg">
			</div>
			<div class="copywrite text-center">
				<p>© 2015 Eshop. All Rights Reserved | Design by&nbsp;<a class="w3link" href="http://www.w3layouts.com/" target="_blank">w3layouts</a>   </p>
			</div>
		</div>
	</div>
</div>
