<div class="row">
	<div class="span_of_4">
		<div class="col-md-3 span1_of_4">
			<h4>shop</h4>
			<ul class="list">
				<li><a href="#">new arrivals</a></li>
				<li><a href="#">men</a></li>
				<li><a href="#">women</a></li>
				<li><a href="#">accessories</a></li>
				<li><a href="#">kids</a></li>
				<li><a href="#">brands</a></li>
				<li><a href="#">trends</a></li>
				<li><a href="#">sale</a></li>
				<li><a href="#">style videos</a></li>			
			</ul>
		</div>
	</div>
	<div class="span_of_4">
		<div class="col-md-3 span1_of_4">
			<h4>help</h4>
				<ul class="list">
				<li><a href="#">frequently asked questions</a></li>
				<li><a href="#">men</a></li>
				<li><a href="#">women</a></li>
				<li><a href="#">accessories</a></li>
				<li><a href="#">kids</a></li>
				<li><a href="#">brands</a></li>
			</ul>
		</div>
	</div>
	<div class="span_of_4">
		<div class="col-md-3 span1_of_4">
			<h4>account</h4>
				<ul class="list">
				<li><a href="#">login</a></li>
				<li><a href="#">create an account</a></li>
				<li><a href="#">create wishlist</a></li>
				<li><a href="#">my shopping bag</a></li>
				<li><a href="#">brands</a></li>
				<li><a href="#">login</a></li>
				<li><a href="#">create wishlist</a></li>
			</ul>
		</div>
	</div>
	<div class="span_of_4">
		<div class="col-md-3 span1_of_4">
			<h4>popular</h4>
				<ul class="list">
				<li><a href="#">new arrivals</a></li>
				<li><a href="#">men</a></li>
				<li><a href="#">women</a></li>
				<li><a href="#">accessories</a></li>
				<li><a href="#">kids</a></li>
				<li><a href="#">brands</a></li>
				<li><a href="#">trends</a></li>
				<li><a href="#">sale</a></li>
				<li><a href="#">style videos</a></li>
				<li><a href="#">login</a></li>
				<li><a href="#">brands</a></li>
			</ul>
		</div>
	</div>
</div>

