<div id="leftnav" class="block-content" style="display:block">
	<div class="categoryleftheading"><?php echo $this->__('Our Categories') ?></div>
	<ul class="accr-ul">
	<?php 
		$category = Mage::getModel('catalog/category')->load(2);  //catagory id
		$subcategories = $category->getChildrenCategories();
			if (count($subcategories) > 0){
				foreach($subcategories as $subcategory){
	?>
					<li>
						<a href="<?php echo $subcategory->getUrl() ?>">
							<span class="listcategoryname"><?php  echo $subcategory->getName(); ?></span>
						</a>
					</li>
				<?php
				}
			}
				?>
</ul>
</div>
<div id="imghighlight">
		<img class="imghighlight" src="<?php echo Mage::getBaseUrl("media")?>catalog/product/2/0/20.jpg" />
		<img class="imghighlight2" src="<?php echo Mage::getBaseUrl("media")?>catalog/product/1/9/19.jpg" />
</div>

<div class="block block-tags" id="populartags">
	<div class="block-title">
		<strong><span><?php echo $this->__('Tags Widgets'); ?></span></strong>
	</div>
	<ul class="tags_links">
		<?php
		$_tags = new Mage_Tag_Block_Product_List();
		?>
	</ul>
	<ul class="product-tags">
	<?php if($_tags): ?>
    <?php foreach($_tags->getTags() as $tag):?>
    <li><a href="<?php echo $tag->getName()?>"><?=$tag->getName();?></a></li>
    <?php endforeach; ?>
	<?php endif; ?>
	</ul>
</div>

	






<!--
	<div class="block block-tags" id="populartags">
		<div class="block-title">
			<strong><span><?php //echo $this->__('Tags Widgets'); ?></span></strong>
		</div>
		<div class="block-content">
			<ul class="tags_links">
				<li><a href="#">Kitesurf</a></li>
				<li><a href="#">Super</a></li>
				<li><a href="#">Duper</a></li>
				<li><a href="#">Theme</a></li>
				<li><a href="#">Men</a></li>
				<li><a href="#">Women</a></li>
				<li><a href="#">Equipment</a></li>
				<li><a href="#">Best</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Men</a></li>
				<li><a href="#">Apparel</a></li>
				<li><a href="#">Super</a></li>
				<li><a href="#">Duper</a></li>
				<li><a href="#">Theme</a></li>
				<li><a href="#">Responsive</a></li>
				<li><a href="#">Women</a></li>
				<li><a href="#">Equipment</a></li>
			</ul>
		</div>
	</div>
	-->



<!--
	<div class="block-content">
		<ul class="tags_links">
			<?php
			// instantiate the tags class for products
			//~ $_tags = new Mage_Tag_Block_Product_List();
			?>
		</ul>
		<ul class="product-tags">
			<?php //foreach($_tags->getTags() as $tag):?>
			<li><a href="<?php //echo $tag->getTaggedProductsUrl()?>"><?=$tag->getName()?></a></li>
			<?php //endforeach;?>
		</ul>
	</div>-->
