<h1>Gallery Image</h1>
<?php
	$_product = $this->getProduct();
	$_helper = $this->helper('catalog/output');
	$current_product_id = Mage::registry('current_product')->getId();
	$_img = '<img 
				id="image"
				src="'.$this->helper('catalog/image')->init($_product, 'gallery_image')->resize(250).'" 
				class="gallery-image"
				alt="'.$this->escapeHtml($this->getImageLabel()).'" 
				title="'.$this->escapeHtml($this->getImageLabel()).'" 
			/>';
	echo $_helper->productAttribute($_product, $_img, 'img');
?>
