<?php
	$_product = $this->getProduct();
	$_helper = $this->helper('catalog/output');
	$a=1;
	$current_product_id = Mage::registry('current_product')->getId();
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<p class="product-image custom-border">
	<a id="main-image" href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(1000); ?>" data-fancybox="group">     
		<?php         
			$_img = '<img 
						id="image"
						src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(500).'" 
						class="gallery-image"
						alt="'.$this->escapeHtml($this->getImageLabel()).'" 
						title="'.$this->escapeHtml($this->getImageLabel()).'" 
					/>';
			echo $_helper->productAttribute($_product, $_img, 'image');
		?>
	</a> 
</p>
<?php else: ?>
<p class="product-image">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(500).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
        $product->addImageToMediaGallery($myImage, 'gallery_image', false);
    ?>
</p>

<?php endif; ?>
<?php if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
	<ul class="product-image-thumbs">
	<?php foreach ($this->getGalleryImages() as $_image): ?>
		<li>
			<a class='thumb-link' href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(1000); ?>" title="<?php echo $_product->getName();?>" onclick="$('image').src = this.href; return false;"> 
				<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(50); ?>" width="50" height="50" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
			</a>
			<?php 
			if($a>1){ ?>
				<a data-fancybox="group" href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(1000); ?>" title="<?php echo $_product->getName();?>" onclick="$('image').src = this.href; return false;"> 
			</a>
			<?php  }
			else
			{
			$a++;
			} ?>
		</li>
		<?php endforeach; ?>   
    </ul>
</div>
<?php endif; ?>

