<li class="wide">
<label for="deliverydate"><?php echo $this->__('Delivery Date') ?></label>
<div class="input-box">
<input type="text" name="deliverydate" id="deliverydate" title="<?php echo $this->__('Delivery Date') ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getDeliveryDate()) ?>" class="input-text" />
</div>
</li>
