/*
Footer Area
*/

.row{
	text-transform: capitalize;
	font-family: 'Lato-Regular';
	margin-top: 34px;
}

h4{	
	font-size: 25px;
	color: #816263;    
}
li{
	margin: 5px 0;
	font-size:15px;    
}
a{
	color:#B3B3B3;
}
a:hover {
	color: #B3B3B3;
	text-decoration:underline;
}
.footer-container .footer {
    margin-top: 100px;
}
/*
header
*/
.header-language-background{
	background-color:#816263;
	padding: 13px;
	color:#FFFFFF;
	font-size: 13px;
	font-family: 'Lato-Regular';
}
.header-left{
	display:inline-block;
	vertical-align: middle;
	font-family: 'Lato-Regular';
	font-size:14px;
}
.header-right{
	display:inline-block;
	float:right;
	font-size:14px;
}
.baglogo , .emptycart{
	display: inline-block;
	color:#EEB9C0;
}
.logoimg{
	width: 183px;
    margin-top: 26px;
}
a.login{
	color:#FFFFFF;	
}
a.login:hover{
	color:#FFFFFF;
	text-decoration:none;
}
a.login:visited { 
    color: #FFFFFF;
}
a.createaccount{
	color:#FFFFFF;
}
a.createaccount:hover{
	color:#FFFFFF;
	text-decoration:none;
}
a.createaccount:visited { 
    color: #FFFFFF;
}
a.checkout{
	color:#FFFFFF;
}
a.checkout:hover{
	color:#FFFFFF;
	text-decoration:none;
}
a.checkout:visited { 
    color: #FFFFFF;
}
.std {
    display: none;
}
.nav-primary li.level0, .nav-primary a.level0 {
    padding: 0 8px;
}
#header-nav {
    margin-top: -61px;
    float: right;
}
a.level0 {
    color: black;
}
li.level0.nav-1.first:hover , li.level0.nav-2:hover , li.level0.nav-3:hover , li.level0.nav-4.last:hover {
    border: 1px solid #816263;
	}
@media(max-width: 770px) {
div#header-nav {
    margin-top: 0px;
    width: 100%;
}
}
@media (max-width: 400px) {
a.createaccount, #lockicon, .checkout {
    display: none;
}
}
@media (max-width: 320px) {
.header-right {
    float:right;
}
}
@media (max-width: 770px) {
.logoimg {
	margin-top: -38px;
}
}


/*
Image Carousel
*/

.autoplay,.carouselimg{
	height:320px;
	width:100%;
}
slick-prev slick-arrow{
	background-color:red;
}
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    padding: 6px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    margin: 0 -36px 0 -7px;
}
i.fa.fa-arrow-left, i.fa.fa-arrow-right {
    color: #980d0d;
}
.slick-next {
    right: 7px;
}

/*
Newsletter
*/
.newsletter{
	background-color: #F7F7F7;
	padding: 35px 0;
}
.subscribebutton {
    cursor: pointer;
    width: 100%;
    background: #816263;
    color: #fff;
    font-size: 19px;
    border: none;
    text-transform: uppercase;
    height: 48px;
	margin-top: 2px;
	display: inline-block;
    position: absolute;
}
.subscribebutton:hover {
	background-color:black;
}
input[type=email]{
    height: 48px;
	width: 100%;
	padding-top: 2px;
	display: inline-block;
	position: relative;	
}
.buttondiv{
	margin: -2px 0 0 -30px;
}

@media (min-width: 360px) and (max-width: 500px){
.col-md-8.col-sm-4.col-xs-2 {
    width: 61%;
}
.buttondiv{
	width: 45%;
}
}

@media (min-width: 250px) and (max-width: 360px){
.col-md-8.col-sm-4.col-xs-2 {
    width: 61%;
}
.buttondiv{
	width: 50%;
}
}

@media (min-width: 500px) and (max-width: 800px){
.col-md-8.col-sm-4.col-xs-2 {
	width: 54%;
}
.buttondiv{
	width: 45%;
}
}
@media (min-width: 480px) and (max-width: 750px){
.join.col-md-4{
	display:table;
	margin:0 auto;
}
.join.col-md-4 h6{
	width:100%;
}
}
@media (min-width: 750px) and (max-width: 991px){
.col-md-8.col-sm-4.col-xs-2 {
	width: 30%;
}
.buttondiv{
	width: 23%;
}
}
@media (min-width: 992px) and (max-width: 1200px){
.join.col-md-4 h6{
	font-size:18px;
}
}
/*
Product List
*/
.col-main {
    padding: 15px 16px;
}
.toolbar-bottom {
    display: none;
}
.col2-left-layout .col-main {
    background-color: #FCFCFC;
}
.sorter > .view-mode {
    position: absolute;
    margin-top: 50px;
}
.pager .limiter {
    margin: 35px 30px;
    color: black;
}
.count-container {
    margin-top: -7px;
}
button.button.btn-cart {
	color: #fff;
    background: #816263;
    padding: 8px 10px;
    border-radius: 2px; 
    display: inline-block;
    font-size: 13px;
    border:none;
}
div.col-main {
    width: 70%;
}
button.button.btn-cart:hover{
	background-color:#000;
}
ul.products-grid.products-grid--max-4-col.first.last.odd {
	margin-top: -17px;
}
.products-grid .product-name a, .products-list .product-name a {
    font-weight: bold;
    color: black;
	font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0px;
}
div.actions button.button.btn-cart {
    margin: 35px 0 0;

}
p.amount.amount--no-pages {
    float: right;
    margin-right: 78px;
}
ul.products-grid--max-4-col > li:nth-child(4n+1)
{
clear:none;
}
@media (max-width: 980px){
.pager .limiter{
	margin:0;
}
}
/*
Pager
*/
.pages .next,
.pages .previous {
  display:none;
}
.pager li > a, .pager li > span {
     border-radius: 0px; 
}
.pages {
    top: 88px;
    position: absolute;
    right: 68px;
}
.pages .current, .pages:hover .current:hover {
     background-color: #636363; 
     color:white;
}
.pager li > a:hover , .pager li > a:focus {
    background-color: #816263;
    color: white;
}
.pager li > a, .pager li > span {
	padding: 0px 0px;
	width: 30px;
	height: 28px;
	border: navajowhite;
    color: black;
}
span.pagetitle {
    color: black;
    font-size: 13px;
}
.pager > .count-container {
    float: right;
}
.breadcrumbs p {
    float: right;
    margin-right: 30px;
    color: #B9B4B5;
}
.breadcrumbs p:hover {
    color: #B9B4B5;
}
.catalog-product-view .breadcrumbs {
    display: none;
}
@media (min-width : 480px) and (max-width: 770px){
.pages{
	top: 662px;
    position: absolute;
    right: 51px;
}
}
@media (max-width: 479px){
.pages{
	top: 649px;
	right:32px;
}
}
/*
left col
*/

.col-left {
    position: absolute;
}

@media (max-width: 770px){
.col-left {
    position: relative;
}
.col2-left-layout .col-main{
	width:100%;
}
}
ul#leftnav-tree {
    background-color: #b2a9a9;
}
.main .col-left {
	width: 21%;
	padding:1px;
}
li.level0 {
    padding: 8px;
}
#leftnav-tree li.level0:hover {
    background-color:#816263
}

.level0 a span {
    color: white;
    margin-left: 23px;     
    font-family: 'Doppio One', sans-serif;
}
div#imghighlight {
    margin-top: 39px;
}
img.imghighlight , .imghighlight2 {
    width: auto;
    height: 300px;
}
.imghighlight2{
	float:right;
	margin-right: 28px;
}
.level0 a span {
    margin-left: 0px;
}
@media (max-width: 929px){ 
li.level0 , .categoryleftheading{
	text-align:center;  
}
}
 @media (max-width: 770px){ 
.main .col-left {
    width: 100%;
}
}  
@media (max-width: 770px){ 
img.imghighlight{
	margin:1px;
}
}
@media (min-width: 771px){ 
.imghighlight2{
	display:none;
}
}
@media (max-width:622px){ 
.imghighlight2{
	display:none;
}
}
/*
new left col
*/
.categoryleftheading {
    background-color: #816263;
    padding: 23px;
    font-size: 15px;
    color: #fff;
    font-family: 'PlayfairDisplay-Regular';
    font-weight: 600;
    text-transform: uppercase;
	margin-bottom: -16px;
}
div#leftnav.block-content {
    background-color: #999999;
	height: 238px;
/*
	width: 240px;
*/
}
ul.accr-ul {
    margin: 30px 0 0 21px;
}
span.listcategoryname {
    color: white;
	line-height: 2;
}

/*
Left-col Tags
*/

.block.block-tags {
	top: 629px;
    position: absolute;
    background-color: #FCFCFC;
    padding: 1em;
    width: 96%;
}
.block-title span {
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'PlayfairDisplay-Regular';
}
.tags-list > li {
    float: left;
    margin-right: 10px;
	color: black; 
    background-color: #e9e9e9;
    font-size: 1.3em;
}
.tags-list li a {
    color: #333;
    font-size: 1em;
    background: #e9e9e9;
    padding: 5px 10px;
}
.tags-list > li a:hover {
	background-color:#816263;
	text-decoration: none;
	color:white;
}
ul#leftnav-tree-3 {
    display: none;
}
li.level1.last.odd, li.level1.last.even {
    padding-left: 4em;
}
li.level1.last.odd a, li.level1.last.even a {
    color: white;
	font-size: 12px;
}

/*
Query Form
*/
input#save {
    width: 30%;
}
.query-form , .col-main .container  {
    padding: 24px;
    background-color:#F7F7F7;
    width: 100%;
}
.query-form h2 , .container h2 {
    margin: 0;
	color: black;
}
input#save {
    background-color: #816263;
    color: white;
    text-transform: uppercase;
}
.form-horizontal .form-group label.control-label {
    text-transform: uppercase;
    color: black;
}
@media (max-width:640px){ 
.form-group .col-sm-6 {
    width: 100%;
}
}
input#save:hover {
 background-color:black;
}

/*
module view page
*/
table.table.table-bordered{
    width: 75%;
    margin: 0 auto;
	box-shadow: 5px 6px 32px #888888;
}
table.table.table-bordered th , table.table.table-bordered tr{
	text-align:center;
}
.table.table-bordered thead {
    background-color: #816263;
    color: white;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
.table.table-bordered td{
	color:black;
}
@media (max-width:780px){ 
	table.table.table-bordered{
    width: 95%;
    }
}
/*
Product details page
*/
.product-name span.h1 {
    font-size: 18px;
    font-family: 'Playfairdisplay-Regular';
    font-weight: 100;
    color: black;
	margin-top: 6px;
}
.product-view .product-shop .price-box .regular-price span.price {
    font-size: 20px;
	letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Lato-Regular';
    font-weight: 100;
    color: black;
	margin-top: 6px;
}	
.product-desc {
    font-size: 13px;
    line-height: 23px;
    padding: 10px;
    color: #CAC9C9;
    font-family: Lato-regular;
}
span.value {
    display: none;
}
.qty-wrapper {
    display: none;
}
a.addtocartproduct {
    color: black;
    text-decoration: underline;
    font-family: lato-regular;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    letter-spacing: 1px;
}
a.addtocartproduct:hover {
    color: #816263;
}
.socialmediaicons {
	letter-spacing: 8px;
    position: absolute;
    right: 143px;
}
ul.add-to-links , ul.sharing-links {
    display: none;
}
.product-view .add-to-cart {
    padding-bottom: 0;
    margin-bottom: 0;
}
/*
.product-image-gallery img#image-main {
    height: 416px;
    width: 386px;
}
*/
.more-views h2 {
    display: none;
}
/*
.product-image.product-image-zoom {
    width: 325px;
}
*/
.thumb-link img {
    height: 90px;
    width: 75px;
    margin-left: 3px;
    margin-top: -6px;
}
.col2-left-layout .col-main {
    padding: 2em;
}
.product-view div .product-shop {
    width: 59%;
}
form .product-img-box {
    padding-right: 0px;
    width: 40%;
}
.product-view .add-to-cart-wrapper {
    width: 59%;
	margin-top: 30px;
}
.box-collateral.box-tags {
    display: none;
}
.ratings {
    display: none;
}
div .product-collateral ul.toggle-tabs {
    border: hidden;
    background-color: #FCFCFC;
}
.toggle-tabs .product-collateral .toggle-tabs li.current > span {
    background-color: #FCFCFC;
}
dd.tab-container.current {
    background-color: #FCFCFC;
    border: hidden;
    border-top: 1px solid #EAEAEA;
}
.toggle-tabs li.last , .toggle-tabs li span {
    color: #000000;
    cursor: default;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'PlayfairDisplay-Regular';
}
.tab-content {
    font-family: 'Lato-Regular';
    line-height: 26px;
    color: #B9B9B9;
    font-size: 14px;
}
.span1 p.left {
    text-transform: uppercase;
}
.span.span1{
	border-bottom: 0px;
}
ul.product-image-thumbs {
    text-align: center;
}
@media only screen and (min-width: 771px){
.product-view .product-collateral .toggle-tabs li.current > span {
	background-color: #FCFCFC;
    color: #816263;
    font-family: 'PlayfairDisplay-Regular';
    text-transform: capitalize;
    cursor: default;
    font-size: 17px;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
}
}
@media only screen and (min-width: 771px){
.product-collateral .toggle-tabs li > span {
    padding: 0 12px;
}
}
@media only screen and (max-width: 1140px){
.span1 p.left {
    width: 200px;
}
.span1 p.right {
	width: 49px;
}
}
@media only screen and (max-width: 843px){
div#leftnav.block-content{
	height: 269px;
}
}
@media (min-width : 1058px) and (max-width: 1217px){
.thumb-link img{
	height: 104px;
    width: 85px;
}
}
@media (min-width : 900px) and (max-width: 1058px){
.thumb-link img{
	height: 90px;
    width: 69px;
}
}
@media (min-width : 300px) and (max-width: 354px){
.thumb-link img{
	height: 102px;
    width: 87px;
}
}
@media (max-width: 899px){
form .product-img-box , .product-view div .product-shop{
	width: 100%;
}
}
@media (max-width: 899px){
.block.block-tags{
	display: none;
}
.footer-container .footer {
    margin-top: 30px;
}
}
@media (max-width: 770px){
div.product-name h1{
	padding-left: 17px;
    font-size: 18px;
    font-family: 'Playfairdisplay-Regular';
    font-weight: 100;
    color: black;
    margin-top: 6px;
}
/*
.product-image-gallery img{
	width: 100%;
}
*/
